.wd-circular-progress(@size: 100px, @border-width: 4px, @selection-color: #000, @inset-color: #fff, @border-color: transparent, @font-size: 22px, @color: @selection-color, @transition-duration: 1s) {
	width:  @size;
	height: @size;
	display: block;
	font-size: @font-size;
	color: @color;

	background-color: @border-color;
	border-radius: 50%;

	.wd-circular-progress__circle {
		.wd-circular-progress__mask, 
		.wd-circular-progress__fill {
			width:    @size;
			height:   @size;
			position: absolute;
			border-radius: 50%;
		}
		.wd-circular-progress__mask, 
		.wd-circular-progress__fill {
			-webkit-backface-visibility: hidden;
			transition: -webkit-transform @transition-duration cubic-bezier(0.25, 0.8, 0.25, 1);
			transition: -ms-transform @transition-duration cubic-bezier(0.25, 0.8, 0.25, 1);
			transition: transform @transition-duration cubic-bezier(0.25, 0.8, 0.25, 1);
			border-radius: 50%;
		}
		.wd-circular-progress__mask {
			clip: rect(0px, @size, @size, @size/2);
			.wd-circular-progress__fill {
				clip: rect(0px, @size/2, @size, 0px);
				background-color: @selection-color;
			}
		}
	}
	.wd-circular-progress__inset {
		width:       @size - @border-width * 2;
		height:      @size - @border-width * 2;
		position:    absolute;
		margin-left: @border-width;
		margin-top:  @border-width;

		background-color: @inset-color;
		border-radius: 50%;
		
		// .layout-row
		flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		-webkit-box-orient: horizontal;

		display: -webkit-flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		box-sizing: border-box;

		-webkit-box-direction: normal;

		// .layout-align-center-center
		max-width: 100%;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;

		-webkit-justify-content: center;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
	}
}